swift_utils/update_swift_files.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 (x64) (http://www.altova.com) by ICBCS User (ICBC Standard Bank Plc) -->
<!-- W3C Schema generated by XMLSpy v2017 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="body" type="T_body"/>
	<xs:element name="file" type="T_file"/>
	<xs:element name="field" type="T_field"/>
	<xs:element name="block1" type="T_block1"/>
	<xs:element name="block2" type="T_block2"/>
	<xs:element name="change" type="T_change"/>
	<xs:element name="fields" type="T_fields"/>
	<xs:element name="header" type="T_header"/>
	<xs:element name="changes" type="T_changes"/>
	<xs:element name="override" type="T_override"/>
	<xs:element name="overrides" type="T_overrides"/>
	<xs:element name="swiftreplace" type="T_swiftreplace"/>
	<xs:complexType name="T_body">
		<xs:sequence>
			<xs:element ref="fields" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of fields to update in each message</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="setreftofilename" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Set the Swift Reference in field 20 or 20C to the filename.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="refsuffix" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Use this suffix on all references </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="stripblock5" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Remove block5 if present</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_file">
		<xs:attribute name="filerename_search" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Rename the file by searching for this pattern and replacing with the value in filename_replace</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="filerename_replace" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Rename the file by searching for the pattern in filerename_search and replacing with this value. Special value ##ref_count## can be used to replace with an incrementing count</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="refstart" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>value to start from if using incrementing count in file rename, default is 1 if not set</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_field">
		<xs:sequence>
			<xs:element ref="changes" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of changes to make to the field</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Swift field number. e.g: 56D</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_block2">
		<xs:sequence>
			<xs:element ref="overrides" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of message types and BIC reguler expression to detect BICS NOT to change</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="bic" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>BIC to set in block2</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="changetoinput" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Set to change the header from OUTPUT to INPUTmode</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_block1">
		<xs:sequence>
			<xs:element ref="overrides" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of message types and BIC reguler expression to detect BICS NOT to change</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="bic" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>BIC to set in block1</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_change">
		<xs:sequence>
			<xs:element ref="overrides" minOccurs="0">
				<xs:annotation>
					<xs:documentation>List of overrides that cause the change to be skipped for certain message types</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="mode" use="required">
			<xs:annotation>
				<xs:documentation>Change mode</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="delim"/>
					<xs:enumeration value="nameaddress"/>
					<xs:enumeration value="nameaddress_linenumbers"/>
					<xs:enumeration value="replacelines"/>
					<xs:enumeration value="substr"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="linestart" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Common:Line within field to start change. Default is 1st line</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="skipif" type="xs:string">
			<xs:annotation>
				<xs:documentation>Common:Skip this change if field matches this pattern</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="lineend" type="xs:integer">
			<xs:annotation>
				<xs:documentation>Common:Line within field to end change. Default is last line</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="charstart" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>substr: Start character position for substituation</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="newtext" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>substr,delim: text to substitute</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="text" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>replacelines: Text to replace the lines in the field with </xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="appendcount" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>replacelines, delim: append a count to the replacement text</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="delim" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>delim: Delimiter to split field on</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="field" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>delim: column in delimited field to replace</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_fields">
		<xs:sequence>
			<xs:element ref="field" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_header">
		<xs:sequence>
			<xs:element ref="block1" minOccurs="0"/>
			<xs:element ref="block2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_changes">
		<xs:sequence>
			<xs:element ref="change">
				<xs:annotation>
					<xs:documentation>Details of change to make. Each type of change uses a common set of attributes, and its own unique ones where needed to define the change.

Change modes are:
  substr - Substitute a section of text with specified string
  nameaddress - Replace a name/address field with default dummy text 
  nameaddress_linenumbers  - Replace a name/address field containing line number prefixs with default dummy text, keeping the line numbers unchanged
  replacelines - Replace whole lines within the field with specified text
  delim - Replace specific column in delimted text with specified text</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_override">
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Message Type</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="criteria" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Reguler expression to match against text, if it matches then change is skipped.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="T_overrides">
		<xs:sequence>
			<xs:element ref="override" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_swiftreplace">
		<xs:sequence>
			<xs:element ref="file" minOccurs="0"/>
			<xs:element ref="header" minOccurs="0"/>
			<xs:element ref="body"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
